td#lang a:link {color: #333; text-decoration: none; border-bottom:1px none; font-weight: bold;}
td#lang a:visited {color: #333; text-decoration: none; border-bottom:1px none; font-weight: bold;}
td#lang a:hover {color: #c00; text-decoration: none; border-bottom:1px solid; font-weight: bold;}
td#lang a:active {color: #000; text-decoration: none; border-bottom:1px none;font-weight: bold;}

td#maintext a:link {color: #333; text-decoration: none; border-bottom:1px none; font-weight: bold;}
td#maintext a:visited {color: #333; text-decoration: none; border-bottom:1px none; font-weight: bold;}
td#maintext a:hover {color: #c00; text-decoration: none; border-bottom:1px solid; font-weight: bold;}
td#maintext a:active {color: #000; text-decoration: none; border-bottom:1px none;font-weight: bold;}

td#footer a:link {color: #333; text-decoration: none; border-bottom:1px none; font-weight: bold;}
td#footer a:visited {color: #333; text-decoration: none; border-bottom:1px none; font-weight: bold;}
td#footer a:hover {color: #c00; text-decoration: none; border-bottom:1px solid; font-weight: bold;}
td#footer a:active {color: #000; text-decoration: none; border-bottom:1px none; font-weight: bold;}

body{
  margin:0px;
  padding:0px;
  height:100%;
  background-color: #ffffff;
  background-image: url('../img/bg_main.jpg');
  background-repeat: no-repeat;
}

.default {
  color: #000;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  text-align: justify;
}

.title {
  color: #000;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: right;
}

.text {
  color: #666;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  text-align: justify;
}

.footerLinks {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5em;
  text-align:center;
}

.footerText {
  color: #333;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.5em;
  text-align:center;
}

.credits {
  color: #333;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.5em;
  text-align:center;
}

table.center, table.center TD, table.center TH {
	margin-left:auto; margin-right:auto;
	border:0px;
	border-spacing:0px;
	padding:0px;
	margin:0px;
}

table.spacer, table.spacer TD, table.spacer TH {
	margin-left:auto; margin-right:auto;
	border:0px;
	border-spacing:0px;
	padding:0px;
	margin:0px;
}

table.languageNav, table.languageNav TD, table.languageNav TH {
	margin-left:auto; margin-right:auto;
	border:0px;
	border-spacing:0px;
	padding:0px;
	margin:0px;
	vertical-align: center;
	width: 1000px;
	height: 25px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
}

table.contactError TD, table.contactError TH {
	border-style: dashed;
	border-color: red;
	border-width: 1px;
	background-color: white;
	vertical-align: center;
	width: 1000px;
	height: 25px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

table.contactSuccess TD, table.contactSuccess TH {
	border-style: dashed;
	border-color: green;
	border-width: 1px;
	background-color: white;
	vertical-align: center;
	width: 1000px;
	height: 25px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

table.borderless, table.borderless TD, table.borderless TH {
	margin-left:auto; margin-right:auto;
	border:0px;
	border-spacing:0px;
	padding:0px;
	margin:0px;
	vertical-align: center;
}

.middleBox, .middleBox TD, .middleBox TH
{
	margin-left:auto; margin-right:auto;
  background-color:white;
  background-repeat:repeat-y;
  background-image:url('../img/home/999.jpg');
  border:0px;
	border-spacing:0px;
	padding:0px;
	margin:0px;
	width:1060px;
	height:500px;
}

.lineseparator, .lineseparator TD, .lineseparator TH
{
	margin-left:auto; margin-right:auto;
  background-image:url('../img/line.png');
  background-repeat: no-repeat;
  border-spacing:0px;
  border:0px;
	padding:0px;
	margin:0px;
}

/*
	Slideshow
*/

#container {
	background-color: #f0f0f0;
	width:1060px;
	padding:0px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:1060px;
	height:500px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:1060px;
	height:500px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:1060px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:1060px;
	height:500px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/slideshow/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}